apiVersion: v1
kind: Secret
metadata:
  name: my-cluster-secrets
type: Opaque
stringData:
  root: LINEBLOCS_DB_PASSWORD
  xtrabackup: LINEBLOCS_DB_PASSWORD
  monitor: LINEBLOCS_DB_PASSWORD
  clustercheck: LINEBLOCS_DB_PASSWORD
  proxyadmin: LINEBLOCS_DB_PASSWORD
  pmmserver: LINEBLOCS_DB_PASSWORD
  operator: LINEBLOCS_DB_PASSWORD
